<!DOCTYPE html>
<html>

<head>
    <title>Practice Tracker</title>
    <script src="https://unpkg.com/vue@2.6.7/dist/vue.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="practice_style.css" type="text/css">
</head>

<body>
    <div id="app">

        <h1 class="text-center">{{ activity }}! Time Tracker</h1>

        <div id="add-hours" class="card">

            <h2 class="card-header">Add Hours</h2>
            <div class="card-body">

                <form>

                    <div class="alert alert-danger" v-show="errors && errors.length > 0">
                        <li v-for="error in errors">{{ error }}</li>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="when">When did you {{ activity | lowercase }}?</label>
                        <input id="when" class="form-control" type="date" v-model.lazy="when">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="howLong">How long did you practice for?</label>
                        <input id="howLong" class="form-control" v-model.number.lazy="howLong">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="type">What type?</label>
                        <select class="form-control" v-model="type">
                            <option v-for="type in types" v-bind:value="type">{{ type }}</option>
                        </select>
                    </div>

                    <div class="form-check-inline">
                        <input id="v2" class="form-check-input" type="radio" v-bind:value="traditional" v-model="digitalTraditional">
                        <label class="form-check-label" for="v1">Traditional</label>
                    </div>

                    <div class="form-check-inline">
                        <input id="v1" class="form-check-input" type="radio" v-bind:value="digital" v-model="digitalTraditional">
                        <label class="form-check-label" for="v1">Digital</label>
                    </div>

                    <div>
                        <button class="btn btn-primary mt-2" type="button" v-on:click="submit">Add record</button>
                    </div>

                </form>
            </div>
        </div>

        <div class="card">
            <h2 class="card-header">Activity Record</h2>

            <div class="card-body">
                <h3>{{ activityRecords.length }} records</h3>

                <div id="records">
                    <table class="table">
                        <tr>
                            <th>When</th>
                            <th>How long?</th>
                            <th>Type</th>
                            <th>Digital or traditional?</th>
                        </tr>
                        <tr v-for="record in activityRecords">
                            <td>{{ record.when | shortDateFormat }}</td>
                            <td>{{ record.howLong }}</td>
                            <td>{{ record.type }}</td>
                            <td>{{ record.digitalTraditional }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <div class="card">
            <h2 class="card-header">Summary</h2>

            <div class="card-body">
                <!-- Computed property -->
                <p>You have practiced a total of {{ totalHours }} hours, broken down as follows:</p>
                
                <!-- total for each type  -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" v-for="hours, type in totalHoursByType">{{ type }}: {{ hours }}</li>
                </ul>
            </div>
        </div>

    </div>

    <script>

        let app = new Vue({
            el: "#app",
            data: {
                activity: 'Practice Art',  // If you like, replace in your own activity name e.g. studying, running, playing video games.... 
                when: '',
                howLong: 1,
                type: 'sketching',
                digitalTraditional: 'traditional',   // you may wish to rename this 
                activityRecords: [],
                types: ['sketching', 'drawing', 'painting'],    // replace with appropriate options for your activity e.g. for video game, ['PC', 'PlayStation', 'Xbox' ]
                digital: 'digital',          // on a computer, tablet                // replace with appropriate options for your activity e.g. for video games, single player and multi player 
                traditional: 'traditional',   // painting, drawing etc. on paper
                errors: []
            },
            methods: {
                submit() {     
                    this.errors = []

                    if (this.whenLocal == 'Invalid Date' || this.whenLocal.getTime() > new Date().getTime()) {
                        this.errors.push('Select a valid date, today or in the past')
                    }

                    if (typeof (this.howLong) != "number" || this.howLong <= 0) {
                        this.errors.push('The number of hours must be a number greater than zero.')
                    }

                    if (this.errors.length == 0) {
                        let newActivityRecord = { when: this.whenLocal, howLong: this.howLong, type: this.type, digitalTraditional: this.digitalTraditional }
                        this.activityRecords.push(newActivityRecord)
                        this.activityRecords.sort(function (r1, r2) { return r1.when.getTime() - r2.when.getTime() })
                    }
                }
            }, computed: {
                whenLocal() {
                    let date = new Date(this.when)
                    let timestamp = date.getTime() + (date.getTimezoneOffset() * 60 * 1000)
                    let localDate = new Date(timestamp)
                    return localDate
                },
                totalHours() {
                    let total = 0
                    if (this.activityRecords.length > 0) {
                        total = this.activityRecords.reduce(function (hoursAccumulator, currentRecord) {
                            return hoursAccumulator + currentRecord.howLong
                        }, 0)
                    }
                    return total
                },
                totalHoursByType() {
                    let hoursByType = {}
                    let self = this
                    this.types.forEach(function (type) {
                        let totalForType = self.activityRecords
                            .filter(function (record) { return record.type === type })
                            .reduce(function (accumulator, current) { return accumulator + current.howLong }, 0)
                        hoursByType[type] = totalForType
                    })
                    return hoursByType
                }
            }, filters: {
                lowercase(string) {
                    return string.toLowerCase()
                },
                shortDateFormat(date) {
                    return new Intl.DateTimeFormat().format(date)
                }
            }
        })

    </script>

</body>

</html>