

/* https://vuejs.org/v2/guide/transitions.html */

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

#student-table {
    max-height: 500px;
    overflow: scroll;
}

.present {
    color: gray;
    font-style: italic;
}

.absent {
    font-weight: bold;
}
