<!DOCTYPE html>
<html>

<head>
    <title>Student Sign In</title>
    <script src="https://unpkg.com/vue@2.6.7/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="student.css" type="text/css">
</head>

<body>
    <div id="app">

        <div class="alert alert-danger" v-show="errors.length">
            <li v-for="error in errors">{{ error }}</li>
        </div>

        <div class="card add-student m-2 p-2">
                <h4 class="card-title">Add new student</h4>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" class="form-control" v-model.trim="newStudentName">
                </div>
                <div class="form-group">
                    <label for="starID">Star ID</label>
                    <input id="starID" class="form-control" v-model.trim="newStarID">
                </div>
                <button class="btn btn-primary" v-on:click="addStudent">Add</button>
        </div>

        <div class="card student-list m-2 p-2">
            <h4 class="card-title">Students</h4>
            <div id="student-table">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>StarID</th>
                        <th>Present?</th>
                    </tr>
                    <tr v-for="student in students" v-bind:class="{ present: student.present, absent: !student.present }">
                        <td>{{ student.name }}</td>
                        <td>{{ student.starID }}</td>
                        <td> <input type="checkbox" v-model="student.present" v-on:change="checked(student)"></td>
                    </tr>
                </table>
            </div>
        </div>

        <transition name="fade">
            <div class="alert alert-success" v-if="seeMessage">{{message}} {{mostRecentSignIn}}</div>
        </transition>
    </div>

    <script>

        let app = new Vue({
            el: "#app",
            data: {
                newStudentName: '',
                newStarID: '',
                students: [{ name: "example", starID: "ab1234cd", present: true }],
                mostRecentSignIn: '',
                message: '',
                seeMessage: false,
                errors: []
            },
            methods: {
                addStudent() {
                    this.errors = []
                    if (this.newStudentName && this.newStarID) {
                        let student = { name: this.newStudentName, starID: this.newStarID, present: false }
                        this.students.push(student)
                        this.students.sort(function (s1, s2) { return s1.name > s2.name ? 1 : -1 })
                        this.newStudentName = ''
                        this.newStarID = ''
                    } else {
                        this.errors.push('Name and StarID are required.')
                    }
                },
                checked(student) {
                    this.message = student.present ? 'Welcome, ' : 'Goodbye, '
                    this.mostRecentSignIn = student.name
                    this.showMessage()
                },
                showMessage() {
                    this.seeMessage = true
                    setTimeout(() => {
                        this.seeMessage = false
                    }, 3000)
                }
            },
        })

    </script>

</body>

</html>