<!DOCTYPE html>
<html>

<head>
    <title>Student Sign In</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <div id="app">
        
        <div class="alert alert-danger" v-if="errors.length > 0">
            <li v-for="error in errors" v-bind:key="error">{{ error }}</li>
        </div>

        <div class="card add-student m-2 p-2">
            <h4 class="card-title">Add new student</h4>

            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" class="form-control" v-model.trim="newStudentName">
            </div>
            <div class="form-group">
                <label for="starID">Star ID</label>
                <input id="starID" class="form-control" v-model.trim="newStarID">
            </div>
            <button class="btn btn-primary" v-on:click="addStudent">Add</button>
        </div>

        <div class="card student-list m-2 p-2">
            <h4 class="card-title">Student List</h4>
            <div id="student-table">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>StarID</th>
                        <th>Present?</th>
                    </tr>

                    <tr v-for="student in students" v-bind:key="student.starID" v-bind:class="{ present: student.present, absent: !student.present }">
                        <td>{{ student.name }}</td>
                        <td>{{ student.starID }}</td>
                        <td> <input type="checkbox" v-model="student.present" v-on:change="arrivedOrLeft(student)"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div v-show="mostRecentStudent.name">

            <div v-if="mostRecentStudent.present" class="alert alert-success">
                Welcome, {{ mostRecentStudent.name }}!
            </div>
            <div v-else class="alert alert-info">
                Goodbye, {{ mostRecentStudent.name }}. See you later!
            </div>
            
        </div>  

    </div>

    <script>

        let app = Vue.createApp({
            data() {
                return {
                    newStudentName: '',
                    newStarID: '',
                    students: [ 
                            { name: "A. Student", starID: "aa1234aa", present: false },
                            { name: "B. Student", starID: "bb1234bb", present: false }
                        ],
                    errors: [],
                    mostRecentStudent: {}
                }
            },
            methods: {
                addStudent() {
                    this.errors = []
                    if ( this.newStudentName && this.newStarID ) {
                        let student = { name: this.newStudentName, starID: this.newStarID, present: false }
                        this.students.push(student)
                        this.students.sort(function (student1, student2) { 
                            return student1.name > student2.name ? 1 : -1 
                        })
                        this.newStudentName = ''
                        this.newStarID = ''
                    } else {
                        this.errors.push('Name and StarID are required.')
                    }
                },
                arrivedOrLeft(student) {
                    this.mostRecentStudent = student
                }
            }
        })

        app.mount('#app')


    </script>

</body>

</html>


                
