<!DOCTYPE html>
<html>

<head>
    <title>Practice Tracker</title>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <div id="app">

        <h1 class="text-center">{{ activity }}! Time Tracker</h1>

        <div id="add-hours" class="card">

            <h2 class="card-header">Add Hours</h2>
            <div class="card-body">

                <form>

                    <div class="alert alert-danger" v-show="errors && errors.length > 0">
                        <li v-for="error in errors">{{ error }}</li>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="when">When did you {{ activity | lowercase }}?</label>
                        <input id="when" class="form-control" type="date" v-model="whenString">
                        <small id="whenHelp" class="form-text text-muted">
                            What date did you practice? Must be today or in the past.
                        </small>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="howLong">How many hours did you practice for?</label>
                        <input id="howLong" class="form-control" type="number" min="0" max="24" v-model.number="howLong">
                        <small id="howLongHelp" class="form-text text-muted">
                            Enter a number of hours, more than 0, up to a maximum of 24
                        </small>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="type">What type?</label>
                        <select class="form-control" v-model="type">
                            <option v-for="type in types" v-bind:value="type">{{ type }}</option>
                        </select>
                    </div>

                    <div class="form-label pb-2">
                        What media?
                    </div>

                    <div class="form-check-inline">
                        <input id="v1" class="form-check-input" type="radio" v-bind:value="medias.traditional" v-model="media">
                        <label class="form-check-label" for="v1">{{medias.traditional}}</label>
                    </div>

                    <div class="form-check-inline">
                        <input id="v2" class="form-check-input" type="radio" v-bind:value="medias.digital" v-model="media">
                        <label class="form-check-label" for="v2">{{medias.digital}}</label>
                    </div>

                    <div>
                        <button class="btn btn-primary mt-2" type="button" v-on:click="submit">Add record</button>
                    </div>

                </form>
            </div>
        </div>

        <div class="card">
            <h2 class="card-header">Activity Records</h2>

            <div class="card-body">
                <h3>{{ activityRecords.length }} records</h3>

                <div id="records">
                    <table class="table">
                        <tr>
                            <th>When</th>
                            <th>How long?</th>
                            <th>Type</th>
                            <th>Media</th>
                        </tr>
                        <tr v-for="record in activityRecords">
                            <td>{{ record.when | shortDate }}</td>
                            <td>{{ record.howLong }}</td>
                            <td>{{ record.type }}</td>
                            <td>{{ record.media }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <div class="card">
            <h2 class="card-header">Summary</h2>

            <div class="card-body">
                <!-- Computed property -->
                <p>You have practiced a total of {{ totalHours }} hours</p>

                <!-- Challenge question! Display a list of the total hours for each type.  -->
            </div>
        </div>

    </div>

    <script>

        let app = new Vue({
            el: "#app",
            data: {
                activity: 'Practice Art',  // If you like, replace in your own activity name e.g. studying, running, playing video games.... 
                whenString: '',
                howLong: 1,
                type: '',
                media: '',   
                activityRecords: [],
                types: [ 'Sketching', 'Drawing', 'Painting' ],    // replace with appropriate options for your activity e.g. for video game, ['PC', 'PlayStation', 'Xbox' ]
                medias:                          // replace with appropriate options for your activity e.g. for video games, single player and multi player 
                    {
                        digital: 'Digital',          // on a computer, tablet           
                        traditional: 'Traditional'   // painting, drawing etc. on paper 
                    },   
                errors: []
            },
            methods: {
                submit() {     
                    this.errors = []

                    let date = new Date(this.whenString)

                    if (!this.whenString || this.whenString == 'Invalid Date' || date.getTime() > new Date().getTime()) {
                        this.errors.push('Select a valid date, today or in the past')
                    }

                    if (typeof this.howLong != "number" || this.howLong < 0 || this.howLong >= 24) {
                        this.errors.push('The number of hours must be a number greater than zero and less than 24.')
                    }

                    if (!this.type) {
                        this.errors.push('Select a type')
                    }

                    if (!this.media) {
                        this.errors.push('Select a media')
                    }
            
                    if (this.errors.length == 0) {
                        let newActivityRecord = { when: date, howLong: this.howLong, type: this.type, media: this.media }
                        this.activityRecords.push(newActivityRecord)
                        this.activityRecords.sort(function (r1, r2) { return r1.when.getTime() - r2.when.getTime() })
                    }
                }
            }, computed: {
               
                totalHours() {
                    let total = 0
                    if (this.activityRecords.length > 0) {
                        this.activityRecords.forEach( record => {
                            total = total + record.howLong
                        });
                    }
                    return total
                },
            }, filters: {
                lowercase(string) {
                    return string.toLowerCase()
                },
                shortDate(date) {
                   return new Intl.DateTimeFormat('en-Us', {timeZone: 'UTC'}).format(date)
                }
            }
        })

    </script>

</body>

</html>