<!DOCTYPE html>
<html>

<head>
    <title>Practice Tracker</title>
    <script src="https://unpkg.com/vue@next"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <div id="app">

        <h1 class="text-center">{{ activity }}! Time Tracker</h1>

        <div id="add-hours" class="card">

            <h2 class="card-header">Add Records</h2>
            <div class="card-body">
               
                <div class="alert alert-danger" v-show="errors.length > 0">
                    <li v-for="error in errors">{{ error }}</li>
                </div>

                <div class="form-group">
                    <label class="form-label" for="date">What date did you do this activity?</label>
                    <input id="date" class="form-control" type="date" v-model="dateString">
                    <small id="date-help" class="form-text text-muted">
                        Date must be today or in the past.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="hours">How many hours did you practice for?</label>
                    <input id="hours" class="form-control" type="number" min="0" max="24" v-model.number="hours">
                    <small id="hours-help" class="form-text text-muted">
                        Enter a number of hours, more than 0, up to a maximum of 24
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="type">What type?</label>
                    <select class="form-control" v-model="type">
                        <option v-for="type in types">{{ type }}</option>
                    </select>
                </div>

                <div class="form-label pb-2">
                    What media?
                </div>

                <div class="form-check-inline">
                    <input id="media1" class="form-check-input" type="radio" v-bind:value="media.traditional" v-model="medium">
                    <label class="form-check-label" for="media1">{{media.traditional}}</label>
                </div>

                <div class="form-check-inline">
                    <input id="media2" class="form-check-input" type="radio" v-bind:value="media.digital" v-model="medium">
                    <label class="form-check-label" for="media2">{{media.digital}}</label>
                </div>

                <div>
                    <button class="btn btn-primary mt-2" type="button" v-on:click="submit">Add record</button>
                </div>
                
            </div>
        </div>

        <div class="card">
            <h2 class="card-header">Activity Records</h2>

            <div class="card-body">
                <h3>{{ totalRecords }}</h3>

                <div id="records">
                    <table class="table table-hover">
                        <tr>
                            <th>Date</th>
                            <th>How many hours?</th>
                            <th>Type</th>
                            <th>Media</th>
                        </tr>
                        <tr v-for="record in activityRecords">
                            <td>{{ record.date | shortDate }}</td>
                            <td>{{ record.hours }}</td>
                            <td>{{ record.type }}</td>
                            <td>{{ record.medium }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <div class="card">
            <h2 class="card-header">Summary</h2>

            <div class="card-body">

                <!-- Uses a computed property -->
                <p>You have practiced a total of {{ totalHours }} hours</p>

                <!-- Challenge question! Display a list of the total hours for each type.  -->
          
            </div>
        </div>

    </div>

    <script>

        let app = Vue.createApp({
            data() {
                return {

                    // Theme of page
                    activity: 'Practice Art',  // If you like, replace in your own activity name e.g. Study, Exercise, Play Video Games.... 
                    
                    // form input bindings - connect to form input/select with v-model
                    dateString: '',
                    hours: 1,
                    type: 'Sketching',
                    medium: '',  

                    // Array of activity records 
                    activityRecords: [],

                    // Data used to set up select and radio buttons 
                    types: [ 'Sketching', 'Drawing', 'Painting' ],    // If you changed the activity, replace with appropriate options for your activity e.g. for video game, ['PC', 'PlayStation', 'Xbox' ]
                    media:                          // If you changed the activity, replace with appropriate options for your activity e.g. for video games, it could be single player and multi player 
                        {
                            traditional: 'Traditional',  // painting, drawing etc. on paper, canvas...
                            digital: 'Digital'          // on a computer or tablet           
                        },   

                    // list of form errors 
                    errors: []
                }   
            },
            methods: {
                submit() {     
                    this.errors = []

                    // The data in a input type="date" is a string in the form '2020-12-31' for Dec 31, 2020. Convert it to a Date object
                    let date = new Date(this.dateString)

                    // Date A is 'greater than' Date B if  Date A is in the future compared to Date B 
                    if (!this.dateString || this.dateString == 'Invalid Date' || date > new Date() ) {   
                        this.errors.push('Select a valid date, today or in the past')
                    }

                    // Verify hours is a number, and within the correct range
                    this.hours = parseFloat(this.hours)   // Returns NaN if the string can't be converted to a number 
                    // greater than and less than comparisons with NaN are always false
                    if (this.hours <= 0 || this.hours > 24) {
                        this.errors.push('The number of hours must be a number greater than 0 and less than 24.')
                    }

                    if (!this.type) {
                        this.errors.push('Select a type')
                    }

                    if (!this.media) {
                        this.errors.push('Select a media')
                    }
            
                    if (this.errors.length == 0) {
                        let newActivityRecord = { date: date, hours: this.hours, type: this.type, medium: this.medium }
                        this.activityRecords.push(newActivityRecord)
                        this.activityRecords.sort(function (r1, r2) { 
                            // subtracting one date from another date returns the difference, in milliseconds, between them 
                            // sort expects this function to return a negative or positive number 
                            // to indicate if the record r1 should be sorted before or after r2
                            return r1.date.getTime() - r2.date.getTime()
                        })
                    }
                }
            }, 
            computed: {
                totalRecords() {
                    let numberOfRecords = this.activityRecords.length
                    if (numberOfRecords == 1) {
                        return '1 record'
                    } else {
                        return `${numberOfRecords} records`
                    }
                },
                totalHours() {
                    let total = 0
                    this.activityRecords.forEach( record => {
                        total = total + record.hours
                    })
                    return total 
                },
                shortDate() {
                    return new Intl.DateTimeFormat('en-US', {timeZone: 'UTC'}).format(date)
                }
            }
        })

        app.mount('#app')
    </script>

</body>

</html>